<div class="">


  <div class="row">
    <div class="col-md-4" *ngFor="#item of playlistItems">
      <div class="card hoverable">
        <div class="card-image">
          <div class='embed-container'><iframe src='https://www.youtube.com/embed/{{item.snippet.resourceId.videoId}}?rel=0&controls=0&showinfo=0' frameborder='0' allowfullscreen></iframe></div>
          <span class="card-title">{{item.snippet.title}}</span>
        </div>
        <div class="card-content">
          <p>Some things just look better in motion and in the highly competitive world of fashion, finding an edge over the competition...</p>
        </div>
        <div class="card-action">
          <a href="http://mdbootstrap.com/product/magic-portfolio-for-video-maker/">
            <button type="button" class="btn btn-info waves-effect waves-light">Read more</button>
          </a>
        </div>
      </div>
    </div>

  </div>


  <ul>
    <li *ngFor="#item of playlistItems" >
      {{ item }}
    </li>
  </ul>

</div>
